 
      $curse__hederBlock__block__pt: 23px;
      $curse__hederBlock__title__pt: 21px;
      $curse__hederBlock__title__pb: 35px;
      $curse__explanationBlock__block1__heder__mt: 29px;
      $curse__explanationBlock__block1__heder__mb: 19px;
      $curse__explanationBlock__block2__heder__mt: 26px;
      $curse__explanationBlock__block2__heder__mb: 15px;
      $curse__futuresBlock__header__mt: 42px;
      $curse__futuresBlock__header__mb: 30px;
      $curse__futuresBlock__block__item__content__header__mb: 15px;
  

